USE [TimeshareManagement_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingRequests]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingRequests](
	[bookingRequestId] [int] IDENTITY(1,1) NOT NULL,
	[bookingDate] [datetime2](7) NULL,
	[timeshareId] [int] NULL,
	[Id] [nvarchar](450) NULL,
	[timeshareStatusId] [int] NULL,
 CONSTRAINT [PK_BookingRequests] PRIMARY KEY CLUSTERED 
(
	[bookingRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[placeId] [int] IDENTITY(1,1) NOT NULL,
	[placeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[placeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomAmenities]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAmenities](
	[roomAmenitiesId] [int] IDENTITY(1,1) NOT NULL,
	[roomAmenitiesName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RoomAmenities] PRIMARY KEY CLUSTERED 
(
	[roomAmenitiesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeshares]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeshares](
	[timeshareId] [int] IDENTITY(1,1) NOT NULL,
	[timeshareName] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[timeshareStatusId] [int] NULL,
	[placeId] [int] NULL,
	[confirmTimeshare] [int] NULL,
	[Id] [nvarchar](450) NOT NULL,
	[PublicDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Timeshares] PRIMARY KEY CLUSTERED 
(
	[timeshareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimesharesDetail]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimesharesDetail](
	[timeshareDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_TimesharesDetail] PRIMARY KEY CLUSTERED 
(
	[timeshareDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimesharesStatus]    Script Date: 3/12/2024 6:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimesharesStatus](
	[timeshareStatusId] [int] IDENTITY(1,1) NOT NULL,
	[timeshareStatusName] [nvarchar](max) NULL,
 CONSTRAINT [PK_TimesharesStatus] PRIMARY KEY CLUSTERED 
(
	[timeshareStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240305042235_update-data', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240306085500_update-table-booking', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240306125518_expirationDate', N'7.0.10')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'19b7f8b9-0728-4629-a8a8-69b9c6a48dea', N'ADMIN', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'3ed9dfba-eafb-4f41-a38a-dd87795385f1', N'OWNER', N'OWNER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'bec131a1-3f0f-4bf1-97fb-3447821d4f31', N'USER', N'USER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b2b68d45-fee1-4224-92ad-389469b49e33', N'19b7f8b9-0728-4629-a8a8-69b9c6a48dea')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9240cc1a-3d5f-4a67-930a-ed7f9f87130b', N'3ed9dfba-eafb-4f41-a38a-dd87795385f1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'135410d4-db3a-4378-b9e9-be9a9ca14112', N'bec131a1-3f0f-4bf1-97fb-3447821d4f31')
GO
SET IDENTITY_INSERT [dbo].[BookingRequests] ON 

INSERT [dbo].[BookingRequests] ([bookingRequestId], [bookingDate], [timeshareId], [Id], [timeshareStatusId]) VALUES (1, CAST(N'2024-03-08T16:01:12.9750000' AS DateTime2), 1, N'8f5e6e46-e945-47de-b9ae-80bcab274bb3', 2)
INSERT [dbo].[BookingRequests] ([bookingRequestId], [bookingDate], [timeshareId], [Id], [timeshareStatusId]) VALUES (2, CAST(N'2024-03-08T16:01:12.9750000' AS DateTime2), 1, N'addf941d-4ae1-4705-a1d0-2d33d0f9aa44', 3)
INSERT [dbo].[BookingRequests] ([bookingRequestId], [bookingDate], [timeshareId], [Id], [timeshareStatusId]) VALUES (3, CAST(N'2024-03-08T16:01:12.9750000' AS DateTime2), 3, N'8f5e6e46-e945-47de-b9ae-80bcab274bb3', 1)
SET IDENTITY_INSERT [dbo].[BookingRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Places] ON 

INSERT [dbo].[Places] ([placeId], [placeName]) VALUES (1, N'ho chi minh')
INSERT [dbo].[Places] ([placeId], [placeName]) VALUES (2, N'Nha Trang')
INSERT [dbo].[Places] ([placeId], [placeName]) VALUES (3, N'Da Lat')
SET IDENTITY_INSERT [dbo].[Places] OFF
GO
SET IDENTITY_INSERT [dbo].[Timeshares] ON 

INSERT [dbo].[Timeshares] ([timeshareId], [timeshareName], [Image], [Price], [Address], [Detail], [timeshareStatusId], [placeId], [confirmTimeshare], [Id], [PublicDate]) VALUES (1, N'Annie Homestay', N'string', 500, N'Tan lap City', N' Staying at a homestay in Nha Trang is a new experience for your vacation in the coastal city.', 2, 2, 0, N'9240cc1a-3d5f-4a67-930a-ed7f9f87130b', CAST(N'2024-03-08T15:46:28.4870000' AS DateTime2))
INSERT [dbo].[Timeshares] ([timeshareId], [timeshareName], [Image], [Price], [Address], [Detail], [timeshareStatusId], [placeId], [confirmTimeshare], [Id], [PublicDate]) VALUES (3, N'The Bay - Ha Long Homestay', N'string', 500, N'Bai Chay , Ha Long', N' Located in Ha Long, 600 meters from Queen Cable Car Station, The Bay - Ha Long Homestay features free WiFi, a balcony and a shared garden area..', 2, 5, 0, N'9240cc1a-3d5f-4a67-930a-ed7f9f87130b', CAST(N'2024-03-08T15:46:28.4870000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Timeshares] OFF
GO
SET IDENTITY_INSERT [dbo].[TimesharesStatus] ON 

INSERT [dbo].[TimesharesStatus] ([timeshareStatusId], [timeshareStatusName]) VALUES (1, N'pending')
INSERT [dbo].[TimesharesStatus] ([timeshareStatusId], [timeshareStatusName]) VALUES (2, N'accept')
INSERT [dbo].[TimesharesStatus] ([timeshareStatusId], [timeshareStatusName]) VALUES (3, N'decline')
SET IDENTITY_INSERT [dbo].[TimesharesStatus] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [isActive]
GO
ALTER TABLE [dbo].[Timeshares] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [PublicDate]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookingRequests]  WITH CHECK ADD  CONSTRAINT [FK_BookingRequests_AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BookingRequests] CHECK CONSTRAINT [FK_BookingRequests_AspNetUsers_Id]
GO
ALTER TABLE [dbo].[BookingRequests]  WITH CHECK ADD  CONSTRAINT [FK_BookingRequests_Timeshares_timeshareId] FOREIGN KEY([timeshareId])
REFERENCES [dbo].[Timeshares] ([timeshareId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingRequests] CHECK CONSTRAINT [FK_BookingRequests_Timeshares_timeshareId]
GO
ALTER TABLE [dbo].[BookingRequests]  WITH CHECK ADD  CONSTRAINT [FK_BookingRequests_TimesharesStatus_timeshareStatusId] FOREIGN KEY([timeshareStatusId])
REFERENCES [dbo].[TimesharesStatus] ([timeshareStatusId])
GO
ALTER TABLE [dbo].[BookingRequests] CHECK CONSTRAINT [FK_BookingRequests_TimesharesStatus_timeshareStatusId]
GO
ALTER TABLE [dbo].[Timeshares]  WITH CHECK ADD  CONSTRAINT [FK_Timeshares_AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timeshares] CHECK CONSTRAINT [FK_Timeshares_AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Timeshares]  WITH CHECK ADD  CONSTRAINT [FK_Timeshares_Places_placeId] FOREIGN KEY([placeId])
REFERENCES [dbo].[Places] ([placeId])
GO
ALTER TABLE [dbo].[Timeshares] CHECK CONSTRAINT [FK_Timeshares_Places_placeId]
GO
ALTER TABLE [dbo].[Timeshares]  WITH CHECK ADD  CONSTRAINT [FK_Timeshares_TimesharesStatus_timeshareStatusId] FOREIGN KEY([timeshareStatusId])
REFERENCES [dbo].[TimesharesStatus] ([timeshareStatusId])
GO
ALTER TABLE [dbo].[Timeshares] CHECK CONSTRAINT [FK_Timeshares_TimesharesStatus_timeshareStatusId]
GO
